@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

/* .grainy-background {
  background: transparent; 
  position: absolute;
  overflow: hidden;
  background-repeat: repeat;
}
@keyframes moveBackground {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position:20% 20%;
  }
} */
/* 
.grainy-background::before {
  animation: moveBackground 60s linear alternate-reverse infinite;
  
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  opacity: 0.3;
  z-index: 0;
  /* base64 encoded small grainy texture */
